<!DOCTYPE html>
<html th:replace="~{./fragments/layoutFile :: layout(~{::title}, ~{::corpo}, ~{::script}, '/' )}">

<title>Editora - buscar</title>
<corpo>

	<table class="table  table-bordered table-hover" id="dynamic-table">
	<thead>
		<tr>
			<td>ID</td>
			<td>Editora</td>
			<td>#</td>
		</tr>
	</thead>
	<tbody>
		<div th:each=" editora, iterStart : ${listaEditoras}">
			<tr> 
				<td>
					<label><div th:utext="${editora.id}"> </div></label>
				</td>
				<td>
					<label><div th:utext="${editora.nome}"> </div></label>
				</td>
				<td>
					<a th:href="@{atualizarEditoraHome/{id}(id=${editora.id})}" class="btn btn-warning">Atualizar </a>
					<a th:href="@{excluirEditora/{id}(id=${editora.id})}" class="btn btn-danger">Excluir </a>
				</td>
				
			</tr>
		</div>
	</tbody>
		
	</table>
	
</corpo>

<script>
	$('#dynamic-table').DataTable();
</script>

</html>