@charset "ISO-8859-1";

.space-top {
	margin-top: 10%;
}

.space-top-px {
	margin-top: 16px;
}

.btn-simule-gratis {
	width: 150px;
	color: #FFFFFF;
	margin-right: 25px;
	height: 45px;
	padding-top: 12px;
}

.btn-fale-conosco {
	width: 150px;
	color: #FFFFFF;
	height: 45px;
	padding-top: 12px;
}

.text-white {
	color: white;
}

.card-style {
	width: 18rem;
	border: solid 1px #d7d7d7;
	background-color: #ffffff;
	margin-top: 24px;
	padding: 40px 31px;
	height: 380px;
	margin-left: 10%
}

.video-style {
	text-align: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
 */
@media ( min-width : 1281px) {
	.card-style {
		width: 18rem;
		border: solid 1px #d7d7d7;
		background-color: #ffffff;
		margin-top: 24px;
		padding: 40px 31px;
		height: 380px;
		margin-left: 10%
	}
	.tag-video-response {
		width: 853px;
		height: 480px
	}
	.video-style {
		text-align: center;
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
 */
@media ( min-width : 991px) and (max-width: 1280px) {
	.card-style {
		width: 18rem;
		border: solid 1px #d7d7d7;
		background-color: #ffffff;
		margin-top: 24px;
		padding: 40px 31px;
		height: 380px;
		margin-left: 10%
	}
	.tag-video-response {
		width: 853px;
		height: 480px
	}
	.video-style {
		text-align: center;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
 */
@media ( min-width : 768px) and (max-width: 990px) {
	.card-style {
		border: solid 1px #d7d7d7;
		background-color: #ffffff;
		margin-top: 24px;
		padding: 40px 31px;
		height: 380px;
	}
	.tag-video-response {
		width: 520px;
		height: 350px
	}
	.video-style {
		text-align: center;
	}
	[class*="col-sm-4 card-response"] {
		width: 50%;
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
 */

/* @media (min-width: 768px) and (max-width: 990px) and (orientation: landscape) { */

/*      .card-style { */
/* 		width: 18rem; */
/* 		border: solid 1px #d7d7d7; */
/* 		background-color: #ff00ff; */
/* 		margin-top: 24px; */
/* 		padding: 40px 31px; */
/* 		height: 380px; */
/* 		margin-left: 10% */
/* 	} */

/* 	.video-style{ */
/* 		text-align:center; */
/* 	} */

/* } */

/* /*  */
/*   ##Device = Low Resolution Tablets, Mobiles (Landscape) */
/*   ##Screen = B/w 481px to 767px */
/* */
*
/

/* @media (min-width: 481px) and (max-width: 767px) { */

/*   //CSS */

/* } */

/* /*  */
/*   ##Device = Most of the Smartphones Mobiles (Portrait) */
/*   ##Screen = B/w 320px to 479px */
/* */

 

*
/

/* @media (min-width: 320px) and (max-width: 480px) { */

/*   //CSS */

/* } */