<!DOCTYPE html>
<html th:fragment="layout (title, content, scripts, caminho)" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8"/>   	
	
	<link rel="shortcut icon" th:href="@{${caminho}}+'../images/favicon.ico?'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/bootstrap.min.css'"/>
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/fonts.googleapis.com.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/ace.min.css'" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/ace-skins.min.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/ace-rtl.min.css'" />
 	<link rel="stylesheet" th:href="@{${caminho}}+'../css/jquery-ui.custom.min.css'" />
 	<link rel="stylesheet" th:href="@{${caminho}}+'../css/jquery.gritter.min.css'" />
 	<link rel="stylesheet" th:href="@{${caminho}}+'../css/bootstrap-timepicker.min.css'" /> 
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/customAgri.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/cs-skin-border.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/cs-select.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/bootstrap-editable.min.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/ace-skins.min.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/ace-rtl.min.css'" />
	<link rel="stylesheet" th:href="@{${caminho}}+'../css/jasny-bootstrap.min.css'" />
	
	<title th:replace="${title}"></title>

</head>

<body class="no-skin">
	
	
	<div id="navbar" class="navbar navbar-default ace-save-state" style="background-color: #000104;" >
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="fas fa-images"></i>
							 Figurinhas Dashboard 
						</small>
					</a>
				</div>
 
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
				
					<ul class="nav ace-nav">
					
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle" aria-expanded="false" style="background-color: #5e6473;">
								<img class="nav-user-photo" th:src="@{${caminho}}+'../images/avatars/avatar2.png'" alt="Avatar">
								<span class="user-info">
									<small>Bem vindo</small>
								</span>
		
								<i class="ace-icon fa fa-caret-down"></i>
							</a>
		
							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="">
								<li>
									<a th:href="@{/logout}">
										<i class="ace-icon fa fa-power-off"></i>
										Sair
									</a>
								</li>
							</ul>
						</li>
					
					</ul>
					
				</div>
				
			</div>
		</div>







<!-- Menu lateral -->


		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list" style="top: 0px;">
					
					<li class="" id="">
						<a th:href="@{${caminho}}+'index'">
							<i class="menu-icon fa fa-car"></i>
							<span class="menu-text"> Home </span>
						</a>
					</li>
					
					<li class=""  id="" data-rel="tooltip" data-placement="right" title="" >
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text"> Editora </span>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow fa fa-angle-down"></b>
						
						<ul class="submenu">
						
							<li class="" id="">
								<a th:href="@{${caminho}}+'cadastrarEditora'">
									<span class="menu-text"> Cadastrar </span>
								</a>
		
								<b class="arrow"></b>
							</li>
							
							<li class="" id="">
								<a th:href="@{${caminho}}+'buscarEditoras'">
									<span class="menu-text"> Buscar </span>
								</a>
		
								<b class="arrow"></b>
							</li>

						</ul>
						
					</li>
					
					<li class=""  id="" data-rel="tooltip" data-placement="right" title="" >
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text"> Album </span>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow fa fa-angle-down"></b>
						
						<ul class="submenu">
						
							<li class="" id="">
								<a th:href="@{${caminho}}+'cadastrarAlbum'">
									<span class="menu-text"> Cadastrar </span>
								</a>
		
								<b class="arrow"></b>
							</li>
							
							<li class="" id="">
								<a th:href="@{${caminho}}+'buscarAlbuns'">
									<span class="menu-text"> Buscar </span>
								</a>
		
								<b class="arrow"></b>
							</li>

						</ul>
						
					</li>
					
					
					<li class=""  id="" data-rel="tooltip" data-placement="right" title="" >
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text"> Colecionador </span>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow fa fa-angle-down"></b>
						
						<ul class="submenu">
						
							<li class="" id="">
								<a th:href="@{${caminho}}+'cadastrarColecionador'">
									<span class="menu-text"> Cadastrar </span>
								</a>
		
								<b class="arrow"></b>
							</li>
							<li class="" id="">
								<a th:href="@{${caminho}}+'buscarColecionadores'">
									<span class="menu-text"> Buscar </span>
								</a>
		
								<b class="arrow"></b>
							</li>

						</ul>
						
					</li>
							
							
					<li class=""  id="" data-rel="tooltip" data-placement="right" title="" >
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-edit"></i>
							<span class="menu-text"> Colecao </span>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow fa fa-angle-down"></b>
						
						<ul class="submenu">
						
							<li class="" id="">
								<a th:href="@{${caminho}}+'cadastrarColecao'">
									<span class="menu-text"> Cadastrar </span>
								</a>
		
								<b class="arrow"></b>
							</li>
							<li class="" id="">
								<a th:href="@{${caminho}}+'buscarColecao'">
									<span class="menu-text"> Buscar </span>
								</a>
		
								<b class="arrow"></b>
							</li>

						</ul>
						
					</li>
							

					
				

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-save-state ace-icon fas fa-angle-double-left" data-icon1="ace-icon fas fa-angle-double-left" data-icon2="ace-icon fas fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">

								<div th:replace="${content}">
							    </div>

					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container -->

			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Figurinhas Dashboard</span>
							® 2020 
						</span>

					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
			
<body/>


<script th:src="@{${caminho}}+'../font-awesome/5.0.6/js/fontawesome-all.min.js'"></script>
<script th:src="@{${caminho}}+'../font-awesome/5.0.6/js/fa-v4-shims.min.js'"></script>


<script th:src="@{${caminho}}+'../js/jquery-2.1.4.min.js'"></script>
<script th:src="@{${caminho}}+'../js/bootstrap.min.js'"></script>
<script th:src="@{${caminho}}+'../js/ace-extra.min.js'"></script>
<script th:src="@{${caminho}}+'../js/jquery-ui.custom.min.js'"></script>
<script th:src="@{${caminho}}+'../js/jquery.ui.touch-punch.min.js'"></script>
<script th:src="@{${caminho}}+'../js/jquery-ui.min.js'"></script>
<script th:src="@{${caminho}}+'../js/spin.js'"></script>

<!-- ace scripts -->
<script th:src="@{${caminho}}+'../js/ace-elements.min.js'"></script>
<script th:src="@{${caminho}}+'../js/ace.min.js'"></script>

<!-- tables -->
<script th:src="@{${caminho}}+'../js/jquery.dataTables.min.js'"></script>
<script th:src="@{${caminho}}+'../js/jquery.dataTables.bootstrap.min.js'"></script>
<script th:src="@{${caminho}}+'../js/dataTables.tableTools.min.js'"></script>
<script th:src="@{${caminho}}+'../js/dataTables.colVis.min.js'"></script>

<!-- bootbox -->
<script th:src="@{${caminho}}+'../js/bootbox.js'"></script>

<!-- gritter -->
<script th:src="@{${caminho}}+'../js/jquery.gritter.min.js'"></script>

<!-- linq Json para javascript -->
<script th:src="@{${caminho}}+'../js/linq.min.js'" type="text/javascript" ></script>
<script th:src="@{${caminho}}+'../js/linq.jquery.js'" type="text/javascript" ></script>  
<script th:src="@{${caminho}}+'../js/moment.min.js'" type="text/javascript" ></script>

<!-- linq Json para javascript -->
<script th:src="@{${caminho}}+'../js/jquery.maskedinput.min.js'"></script>
<script th:src="@{${caminho}}+'../js/select2.min.js'"></script>
<script th:src="@{${caminho}}+'../js/classie.js'"></script>
<script th:src="@{${caminho}}+'../js/selectFx.js'"></script>
<script th:src="@{${caminho}}+'../js/aeromodelliCustom.js'"></script>
<script th:src="@{${caminho}}+'../js/jquery.autocomplete.min.js'"></script>

<!--  tables -->
<script th:src="@{${caminho}}+'../js/dataTables.buttons.min.js'"></script>
<script th:src="@{${caminho}}+'../js/buttons.flash.min.js'"></script>
<script th:src="@{${caminho}}+'../js/buttons.html5.min.js'"></script>
<script th:src="@{${caminho}}+'../js/buttons.print.min.js'"></script>
<script th:src="@{${caminho}}+'../js/buttons.colVis.min.js'"></script>
<script th:src="@{${caminho}}+'../js/dataTables.select.min.js'"></script>

<!-- jasny -->
<script th:src="@{${caminho}}+'../js/jasny-bootstrap.min.js'"></script>


	<th:block th:replace="${scripts}" />

<!-- wysiwyg -->
		<script th:src="@{${caminho}}+'../js/markdown.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/bootstrap-markdown.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/jquery.hotkeys.index.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/bootstrap-wysiwyg.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/bootbox.js'"></script>

		<script th:src="@{${caminho}}+'../js/jquery.gritter.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/jquery.hotkeys.index.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/select2.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/spinbox.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/bootstrap-editable.min.js'"></script>
		<script th:src="@{${caminho}}+'../js/ace-editable.min.js'"></script>


</html>