<!DOCTYPE html>
<html th:replace="~{./fragments/layoutFile :: layout(~{::title}, ~{::corpo}, ~{::script}, '/' )}">

<title>Colecao - buscar</title>
<corpo>

	<table class="table  table-bordered table-hover" id="dynamic-table">
	<thead>
		<tr>
			<td>Colecionador</td>
			<td>Album</td>
<!-- 			<td>Figurinha</td> -->
			<td><i class="ace-icon fa fa-edit bigger-110 hidden-480"></i></td>
		</tr>
	</thead>
	<tbody>
		<div th:each=" colecao, iterStart : ${listaColecao}">
			<tr> 
				<td>
					<label><div th:utext="${colecao.colecionador.nome}"> </div></label>
				</td>
				<td>
					<label><div th:utext="${colecao.album.nome}"> </div></label>
				</td>
<!-- 				<td> -->
<!-- 					<label><div th:utext="${colecao.figurinha}"> </div></label> -->
<!-- 				</td> -->
				<td>
					<a th:href="@{atualizarColecaoHome/{id}(id=${colecao.id})}" class="btn btn-warning">Atualizar </a>
					<a th:href="@{excluirColecao/{id}(id=${colecao.id})}" class="btn btn-danger">Excluir </a>
				</td>
				
			</tr>
		</div>
	</tbody>
		
	</table>
	
</corpo>

<script>
	$('#dynamic-table').DataTable();
</script>

</html>