<!DOCTYPE html>
<html
	th:replace="~{./fragments/layoutFile :: layout(~{::title}, ~{::corpo}, ~{::script}, '/' )}">

<title>Colecao - Cadastrar</title>
<corpo>
	<form action="salvarColecao" method="post">

		<labeL>Colecionador: </labeL>
		<select name="colecionador">
			 <div th:each=" colecionador, iterStart : ${listaColecionador}">
				<option th:value="${colecionador.id}"><p th:text="${colecionador.nome}"></p></option>
			</div>
		</select>
		
		<br>
		<br>
		<labeL>Album: </labeL>
		<select name="album">
			 <div th:each=" album, iterStart : ${listaAlbum}">
				<option th:value="${album.id}"><p th:text="${album.nome}"></p></option>
			</div>
		</select>
		
			</br> </br>
		<button class="btn btn-info" type="submit">Salvar</button>
	
	</form>
</corpo>

<script></script>

</html>