<!DOCTYPE html>
<html th:replace="~{./fragments/layoutFile :: layout(~{::title}, ~{::corpo}, ~{::script}, '/' )}">

<title>Colecionador - buscar</title>
<corpo>

	<table class="table  table-bordered table-hover" id="dynamic-table">
	<thead>
		<tr>
<!-- 			<td>ID</td> -->
			<td>Colecionador</td>
			<td>Email</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<div th:each=" colecionador, iterStart : ${listaColecionador}">
			<tr> 
<!-- 				<td> -->
<!-- 					<label><div th:utext="${colecionador.id}"> </div></label> -->
<!-- 				</td> -->
				<td>
					<label><div th:utext="${colecionador.nome}"> </div></label>
				</td>
				<td>
					<label><div th:utext="${colecionador.email}"> </div></label>
				</td>
				<td>
					<a th:href="@{atualizarColecionadorHome/{id}(id=${colecionador.id})}" class="btn btn-warning">Atualizar </a>
					<a th:href="@{excluirColecionador/{id}(id=${colecionador.id})}" class="btn btn-danger">Excluir </a>
				</td>
				
			</tr>
		</div>
	</tbody>
		
	</table>
	
</corpo>

<script>
	$('#dynamic-table').DataTable();
</script>

</html>