<!DOCTYPE html>
<html th:replace="~{./fragments/layoutFile :: layout(~{::title}, ~{::corpo}, ~{::script}, '/' )}">

<title>Album - buscar</title>
<corpo>

	<table class="table  table-bordered table-hover" id="dynamic-table">
	<thead>
		<tr>
			<td>ID</td>
			<td>Album</td>
			<td>Ano</td>
<!-- 			<td>Editora</td> -->
			<td>Qtd Figurinhas</td>
			<td>Imagem</td>
			<td>#</td>
		</tr>
	</thead>
	<tbody>
		<div th:each=" album, iterStart : ${listaAlbuns}">
			<tr> 
				<td>
					<label><div th:utext="${album.id}"> </div></label>
				</td>
				<td>
					<label><div th:utext="${album.nome}"> </div></label>
				</td>
				<td>
					<label><div th:utext="${album.ano}"> </div></label>
				</td>
<!-- 				<td> -->
<!-- 					<label><div th:utext="${album.editora}"> </div></label> -->
<!-- 				</td> -->
				<td>
					<label><div th:utext="${album.qtdFigurinhas}"> </div></label>
				</td>
				<td>
					<label><div th:utext="${album.imgAlbum}"> </div></label>
				</td>
				<td>
					<a th:href="@{atualizarAlbumHome/{id}(id=${album.id})}" class="btn btn-warning">Atualizar </a>
					<a th:href="@{excluirAlbum/{id}(id=${album.id})}" class="btn btn-danger">Excluir </a>
				</td>
				
			</tr>
		</div>
	</tbody>
		
	</table>
	
</corpo>

<script>
	$('#dynamic-table').DataTable();
</script>

</html>