<!DOCTYPE html>
<html
	th:replace="~{./fragments/layoutFile :: layout(~{::title}, ~{::corpo}, ~{::script}, '/' )}">

<title>ALbum - Cadastrar</title>
<corpo>
	<form action="salvarAlbum" method="post">
	
		<labeL>Nome: </labeL> <input type="text" name="nome" placeholder="Nome" /> <br>
		<labeL>Ano: </labeL> <input type="text" name="ano" placeholder="Ano" /> <br>

		<labeL>Editora: </labeL>
		<select name="editora">
			<div th:each=" editora, iterStart : ${listaEditoras}">
				<option th:value="${editora.id}"><p th:text="${editora.nome}"></p></option>
			</div>
			
		</select>
		<br>
		
		<labeL>QtdFigurinhas: </labeL> <input type="text" name="qtdFigurinhas" placeholder="QtdFigurinhas" /> <br>
		<labeL>ImgAlbum: </labeL> <input type="text" name="imgAlbum" placeholder="ImgAlbum" /> <br>
			</br> </br>
		<button class="btn btn-info" type="submit">Salvar</button>
	
	</form>
</corpo>

<script></script>

</html>